body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7548 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:1710px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:14px;
}
#u7550 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:18px;
  width:28px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:14px;
}
#u7550 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7550_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7551 {
  border-width:0px;
  position:absolute;
  left:1683px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7552 {
  border-width:0px;
  position:absolute;
  left:1731px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7553 {
  border-width:0px;
  position:absolute;
  left:1779px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
}
#u7554 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:13px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7555 {
  border-width:0px;
  position:absolute;
  left:1882px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7556 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:50px;
  width:1710px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
  line-height:12px;
}
#u7557 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:55px;
  width:80px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
  line-height:12px;
}
#u7557 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 10px 6px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7557_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7558 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:55px;
  width:68px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7558 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 10px 6px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7558_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7559 {
  border-width:0px;
  position:absolute;
  left:1882px;
  top:58px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:14px;
}
#u7560 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:600px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#FFFFFF;
  line-height:14px;
}
#u7560 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7560_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:14px;
}
#u7560.mouseOver {
}
#u7560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7561 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:18px;
}
#u7562 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:72px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:18px;
}
#u7562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7562_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7563 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:100px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7563 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7563_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7563.mouseOver {
}
#u7563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7564 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:113px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7565 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:250px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7565 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7565_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7565.mouseOver {
}
#u7565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7566 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:262px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7567 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:263px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7568 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:300px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7568 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7568_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7568.mouseOver {
}
#u7568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7569 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:312px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7570 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:313px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7571 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:350px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7571 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7571_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7571.mouseOver {
}
#u7571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7572 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:363px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7573 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:200px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7573 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7573_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7573.mouseOver {
}
#u7573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7574 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:213px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7575 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:400px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7575 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7575_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7575.mouseOver {
}
#u7575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7576 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:412px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7577 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:413px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7578 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:150px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7578 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7578_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7578.mouseOver {
}
#u7578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7579 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:163px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7580 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:112px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7581 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:162px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7582 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:550px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7582 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7582_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7582.mouseOver {
}
#u7582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7583 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:562px;
  width:16px;
  height:16px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u7583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7584 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:563px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7585 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:450px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7585 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7585_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7585.mouseOver {
}
#u7585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7586 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:462px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7587 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:463px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7588 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:500px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7588 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7588_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7588.mouseOver {
}
#u7588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7589 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:512px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7590 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:513px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:795px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7591 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:95px;
  width:250px;
  height:795px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
  line-height:12px;
}
#u7592 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:115px;
  width:48px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
  line-height:12px;
}
#u7592 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:795px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u7593 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:95px;
  width:1430px;
  height:795px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u7593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7594 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:147px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7594_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7594.focused {
}
#u7594_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7594.selected {
}
#u7594_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7594.focused.selected {
}
#u7594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7595 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:187px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7595_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7595.focused {
}
#u7595_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7595.selected {
}
#u7595_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7595.focused.selected {
}
#u7595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7596 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:227px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7596_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7596.focused {
}
#u7596_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7596.selected {
}
#u7596_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7596.focused.selected {
}
#u7596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7597 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:115px;
  width:70px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7597_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
}
#u7598 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:143px;
  width:180px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
}
#u7598 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7598_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7599 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:267px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7599_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7599.focused {
}
#u7599_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7599.selected {
}
#u7599_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7599.focused.selected {
}
#u7599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7600 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:307px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7600_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7600.focused {
}
#u7600_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7600.selected {
}
#u7600_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7600.focused.selected {
}
#u7600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7601 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:347px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7601_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7601.focused {
}
#u7601_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7601.selected {
}
#u7601_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7601.focused.selected {
}
#u7601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
}
#u7602 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:177px;
  width:1390px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u7603 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:201px;
  width:600px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u7603 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7604 {
  position:absolute;
  left:1730px;
  top:189px;
}
#u7604_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7604_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7605 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(63, 156, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 156, 252, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7606 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7606 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7604_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7604_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(63, 156, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 156, 252, 1);
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7607 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7608 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7608 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7609 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7609 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7609_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7609.mouseOver {
}
#u7609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7610 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:63px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7611 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:387px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7611_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7611.focused {
}
#u7611_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7611.selected {
}
#u7611_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7611.focused.selected {
}
#u7611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7612 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:427px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7612_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7612.focused {
}
#u7612_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7612.selected {
}
#u7612_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7612.focused.selected {
}
#u7612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
