body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7461 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:1710px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:14px;
}
#u7463 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:18px;
  width:28px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:14px;
}
#u7463 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7463_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7464 {
  border-width:0px;
  position:absolute;
  left:1683px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7465 {
  border-width:0px;
  position:absolute;
  left:1731px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7466 {
  border-width:0px;
  position:absolute;
  left:1779px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
}
#u7467 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:13px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7468 {
  border-width:0px;
  position:absolute;
  left:1882px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7469 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:50px;
  width:1710px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
  line-height:12px;
}
#u7470 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:55px;
  width:80px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
  line-height:12px;
}
#u7470 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 10px 6px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7470_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7471 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:55px;
  width:68px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7471 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 10px 6px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7471_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7472 {
  border-width:0px;
  position:absolute;
  left:1882px;
  top:58px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u7472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:14px;
}
#u7473 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:600px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#FFFFFF;
  line-height:14px;
}
#u7473 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7473_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:14px;
}
#u7473.mouseOver {
}
#u7473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7474 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:18px;
}
#u7475 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:72px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:18px;
}
#u7475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7475_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7476 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:100px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7476 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7476_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7476.mouseOver {
}
#u7476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7477 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:113px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7478 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:250px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7478 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7478_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7478.mouseOver {
}
#u7478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7479 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:262px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7480 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:263px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7481 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:300px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7481 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7481_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7481.mouseOver {
}
#u7481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7482 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:312px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7483 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:313px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7484 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:350px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7484 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7484_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7484.mouseOver {
}
#u7484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7485 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:363px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7486 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:200px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7486 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7486_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7486.mouseOver {
}
#u7486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7487 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:213px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7488 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:400px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7488 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7488_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7488.mouseOver {
}
#u7488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7489 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:412px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7490 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:413px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7491 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:150px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7491 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7491_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7491.mouseOver {
}
#u7491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7492 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:163px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7493 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:112px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7494 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:162px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7495 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:550px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7495 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7495_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7495.mouseOver {
}
#u7495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7496 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:562px;
  width:16px;
  height:16px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u7496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7497 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:563px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7498 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:450px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7498 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7498_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7498.mouseOver {
}
#u7498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7499 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:462px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7500 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:463px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7501 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:500px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7501 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7501_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7501.mouseOver {
}
#u7501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7502 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:512px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7503 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:513px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:795px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7504 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:95px;
  width:250px;
  height:795px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
  line-height:12px;
}
#u7505 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:115px;
  width:48px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
  line-height:12px;
}
#u7505 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7505_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:795px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u7506 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:95px;
  width:1430px;
  height:795px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u7506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7507 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:147px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7507_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7507.focused {
}
#u7507_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7507.selected {
}
#u7507_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7507.focused.selected {
}
#u7507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7508 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:187px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7508_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7508.focused {
}
#u7508_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7508.selected {
}
#u7508_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7508.focused.selected {
}
#u7508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7509 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:227px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7509_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7509.focused {
}
#u7509_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7509.selected {
}
#u7509_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7509.focused.selected {
}
#u7509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7510 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:115px;
  width:70px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
}
#u7511 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:143px;
  width:180px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
}
#u7511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7512 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:267px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7512_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7512.focused {
}
#u7512_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7512.selected {
}
#u7512_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7512.focused.selected {
}
#u7512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7513 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:307px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7513_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7513.focused {
}
#u7513_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7513.selected {
}
#u7513_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7513.focused.selected {
}
#u7513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7514 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:347px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7514_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7514.focused {
}
#u7514_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7514.selected {
}
#u7514_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7514.focused.selected {
}
#u7514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
}
#u7515 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:177px;
  width:1390px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u7516 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:201px;
  width:600px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u7516 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7517 {
  position:absolute;
  left:1730px;
  top:189px;
}
#u7517_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7517_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7518 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(63, 156, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 156, 252, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7519 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7519 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7517_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7517_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(63, 156, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 156, 252, 1);
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7520 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7521 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  line-height:12px;
}
#u7521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7522 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7522 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7522_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 157, 254, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#AAAAAA;
  line-height:14px;
}
#u7522.mouseOver {
}
#u7522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u7523 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:63px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7524 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:387px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7524_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7524.focused {
}
#u7524_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7524.selected {
}
#u7524_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
  text-align:left;
  line-height:12px;
}
#u7524.focused.selected {
}
#u7524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7525 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:427px;
  width:230px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7525_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7525.focused {
}
#u7525_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7525.selected {
}
#u7525_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u7525.focused.selected {
}
#u7525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
